@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}
/* common style start*/
:root{
    --primary-color:#FEA301;
    --secondary-color:#01ACFD;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eee;
}
.d-flex{
    display: flex;
}
header{
    max-width: 1160px;
    margin: 0 auto;
}
main{
    max-height: 1440px;
}
.btn{
    padding: 10px 60px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
    transition:all 0.2s ease-in-out ;
    cursor: pointer;
}
.btn:hover{
    opacity: 80%;
}

/* common style end*/

/* navbar start*/
.navber{
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.navber .barnd{
    align-items: center;
    column-gap: 11px;
}
.navber .logo-icon{
    width: 62px;
    height: 62px;
}
.navber h3{
    font-size: 2rem;
}
.link{
    column-gap: 32px;
}
.navber ul li{
    list-style: none;
}
.navber ul li a{
    text-decoration: none;
    font-size: 1.5rem;
}
.link1{
    color: var(--primary-color);
    font-weight: bold;
}
.link2{
    color: var(--secondary-color);
}
.link3{
    color:#05D4DF ;
}
.link4{
    color: #5D58EF;
}
.navber div button{
    background-color: var(--primary-color);
}
.menubar-icon{
    display: none;
    width: 30px;
}
/* navbar end*/

/* header section start */
.marquee marquee{
    font-size: 3.5rem;
    font-weight: 800;
}
.banner{
    align-items: center;
    column-gap: 50px;
}
.banner-info h1{
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-info p{
    font-size: 1.5rem;
    margin-bottom: 24px;
}
.sp-1{
    color: var(--primary-color);
}
.sp-2{
    color: var(--secondary-color);
}
.banner-info button{
    padding: 10px 47px;
    background-color: black;
}
.banner-info{
    max-width: 640px;
}
.banner-img{
    max-width: 468px;
}
.banner img{
    width: 100%;
}
/* header section end */


/*curriculum section start */
.curriculum{
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.curriculum h1{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 60px ;
    margin-bottom: 80px;
}
.curriculum-conteinar{
    max-width: 1160px;
    margin: 0 auto;
    gap: 28px;
    justify-content: center;
    flex-wrap: wrap;
}
.curriculum-card{
    max-width: 286px;
    padding: 53px 40px;
    border-radius: 18.86px;
    text-align: center;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.123);
}
.curriculum-card a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.a1{
    color: #64C8FF;
}
.a2{
    color: #F0AA00;
}
.a3{
    color: #8700FF;
}
.curriculum-card h3{
    font-size: 1.5rem;
    margin: 32px 0;
}
.curriculum-card p{
    margin-bottom: 33px;
    color: rgba(128, 128, 128, 1);
}
.card-1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, white 40%);
}
.card-2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, white 40%);
}
.card-3{
    background: linear-gradient(to bottom, #e5d9f6 0%, white 40%);
}
.arro{
    justify-content: center;
    gap: 10px;
}
.arro .icon{
    background-color: var(--primary-color);
    padding: 12px 20px;
    border-radius: 50%;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 60px;

}
.arro .icon:hover{
    background-color: rgba(244, 165, 38, 0.792);
}
/*curriculum section end */

/* our stories section start */
.our-stories{
    background: url('./assets/bg.png'), url('./assets/bg.png'), linear-gradient(to top, rgba(254, 161, 1, 0.312) 0%, #eee 100%);
    margin: 0 auto;
}
.our-stories h1{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 60px;
}
.stories-conteinar{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 19px;
    justify-content: center;
}
.story-card{
    border-radius: 16px;
    background-color: white;
    position: relative;
}
.story-card img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-card-1{
    grid-row: span 2;
    grid-column: span 2;
}
.card-info-1{
    padding: 0px 38px 34px 38px;
}
.story-card-1 button{
    background-color: #05D4DF;
    padding: 15px 19px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 400;
    position: relative;
    top: -30px;
}
.card-info-1 h4{
    font-size: 1.5rem;
    margin-bottom: 48px;
    margin-top: 0px;
}
.card-info-1 p{
    color: #666666;
}
.story-semilar-style{
    padding: 0 38px 0px 37px ;
}
.story-semilar-style h4{
    font-size: 1rem;
    line-height: 28px;
    margin-top: 0px;
}
.story-semilar-style button{
    background-color: #95B226;
    border: none;
    padding: 10px 19px;
    border-radius: 50px;
    position: relative;
    top: -23px;
    color: white;
}
.view-all-button{
    text-align: center;
}
.view-all-button button{
    background-color: black;
    margin-bottom: 60px;
    margin-top: 80px;
}
hr{
    /* margin-top: 348px; */
}
/* our stories section end */

/* footer section start */
.footer-box{
    max-width: 1440px;
    background-color: #01ACFD;
}
.footer{
    max-width: 1070px;
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 174px;
    justify-content: space-between;
    color: white;

}
.logo-footer{
    width: 70px;
    height: 81px;
    filter: brightness(90%);
    margin-top: 10px;
    margin-right: 10px;
}
.footer .logo{
    align-items: flex-start;
}
.colam-1{
    max-width: 400px;
}
.colam-1 h2{
    font-size: 2.6rem;
    margin: 0px;
    margin-bottom: 35px;
}
.colam-1 p{
    font-size: 20px;
}
.footer ul li{
    list-style: none;
    margin-bottom: 20px;
}
.footer ul h2{
    font-size: 1.5rem;
    margin-bottom: 32px;
}
.footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.keep {
    font-size: 1.7rem;
}
/* footer section end */


@media (max-width:576px) {
    .link, .navber h3, .navber button{
        display: none;
    }
    .menubar-icon{
        display: block;
    }
    .navber .logo-icon{
        width: 45px;
        height: 45px;
    }
    .navber{
        border-bottom: 1px solid orange;
        padding: 12px 16px;
        margin: 0;
    }
    .marquee marquee{
        font-size: 2.5rem;
        margin-top: 30px;
        font-weight: 800;
    }
    .banner{
        flex-direction: column-reverse;
        column-gap: 0px;
        text-align: center;
        margin: 0 15px;
    }
    .banner-info h1{
        font-size: 32px;
    }
    .banner-info p{
        font-size: 14px;
    }
    .banner img{
        width: 90%;
    }
    .curriculum{
        margin: 0 15px;
    }
    .curriculum h1{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    
    .arro{
        display: none;
    }
    .our-stories{
        background-size: cover;
    }
    .stories-conteinar{
        grid-template-columns:  repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        margin: 0 15px;
        gap: 11px;
    }
    .story-card-1{
        display: none;
    }
    .story-semilar-style{
        padding: 0 38px 0px 37px ;
    }
    .story-semilar-style h4{
        font-size: 9px;
        line-height: 17px;
        margin-bottom: 17px;
        margin-top: 0px;
    }
    .story-semilar-style button{
        padding: 7px 15px;
        font-size: 0.5rem;
        top: -18px;
    }
    .story-semilar-style{
        padding: 0 30px 0px 20px ;
    }
    .our-stories h1{
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 1.8rem;
    }
    .view-all-button button{
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .view-all-button button{
        padding: 10px 37px;
        border-radius: 12px;
    }
    .footer{
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 65px;
        padding: 60px 12px 65px 22px;
    }
    .footer ul{
        padding: 0;
    }
    .logo-footer{
        width: 60px;
        height: 70px;
    }
    .colam-1 h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .colam-1 p{
        font-size: 16px;
    }
    
}
@media (min-width:576px) and (max-width:992px) {
    .navber{
        flex-direction: column;
    }
    header{
        margin: 0 20px;
    }
    .banner-info h1{
        font-size: 40px;
    }
    .banner-info{
        width: 70%;
    }
    .curriculum{
        margin: 0 4px;
    }
    .stories-conteinar{
        grid-template-columns:  repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        margin: 0 15px;
        gap: 11px;
    }
    .footer{
        padding-top: 60px;
        padding-bottom: 65px;
        padding: 60px 12px 65px 22px;
    }
}

